<% provide(:title, 'Edit user') %>
<% provide(:button_text, 'Save changes') %>
<h1>Update your profile</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: @user %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%if current_user.admin?%>
        <%current_role = "1"%>
        <%if @user.admin?%>
          <%current_role = "3"%>
        <%elsif @user.teacher?%>
          <%current_role = "2"%>
        <%end%>
      	<%=select_tag(:role, options_for_select([['student', 1], ['teacher', 2], ['admin', 3]], current_role)) %>
      <%end%>

      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>