<%= form_for Lesson.new do |l| %>
  <div class="field">
    <%= l.label :title %>
    <%= l.text_field :title %>
  </div>

  <div class="field">
    <%= l.label :short_description %>
    <%= l.text_area :short_description %>
  </div>
  <%= l.hidden_field :course_id, :value => @course.id %>
  <div class="actions">

    <%= l.submit %>
  </div>
<% end %>