<%= form_for @lesson do |l| %>
  <%= render 'shared/error_messages', object: l.object %>
  <div class="field">
    <%= l.label :title %>
    <%= l.text_field :title %>
  </div>
  <div class="field">
    <%= l.label :short_description %>
    <%= l.text_area :short_description %>
  </div>
  <div class="video">
    <%= l.label :video_url %>
    <%= l.text_field :video_url %>
  </div>
  <a href = "#">add video</a> 
  <div class="actions">
    <%= l.submit "Add", class: "btn btn-success" %>
  </div>
<% end %>