<div id="lesson-<%= @lesson.id %>">
  <h3 class="title"><%= @lesson.title %></h3>
  <%= @lesson.short_description %>
  <p class = "lesson-body">
    <%@lesson.videos.each do |v|%>
      <div style="position:relative; padding-bottom:56.25%; overflow:hidden;">

      <iframe src="<%=v.url%>" width="50%" height="50%" frameborder="0" scrolling="auto" allowfullscreen style="position:absolute;">
        
        
      </iframe>
      </div>
    <%end%>
  </p>

  <%if current_user.owner?(current_course)%>
    <%= link_to "Редактировать", edit_lesson_path%>
  <%end%>

  <%=link_to "Назад", current_course%>
</div>