<p id="notice"><%= notice %></p>

<h1>Все курсы</h1>

<table class = "table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Название</th>
      <th>Описание</th>
      <th>Преподаватель</th>
      <th>Количество студентов</th>
    </tr>
  </thead>

  <tbody>
    <%i = 1%>
    <% @courses.each do |course| %>
      <tr>
        <td><%=i%></td>
        <td>
        <%if logged_in?%>
          <%= link_to course.title, course %>
        <%else%>
          <%=course.title%>
        <%end%>
        </td>
        <td><%= course.short_description %></td>
        <%owner = User.find(course.teacher_id) %>
        <td><%= link_to owner.name, owner %></td>
        <td><%=course.students.count%></td>
        
      </tr>
      <%i=i+1%>
    <% end %>
  </tbody>
</table>

<br>
