<p id="notice"><%= notice %></p>

<h1>Own Courses</h1>

<table class = "table table-bordered">
  <thead>
    <tr>
    	<th>#</th>
      	<th>Title</th>
      	<th>Short description</th>
        <th>Number of students</th>
        <%if current_user.teacher?%>
      	<th colspan="2">Operations</th>
        <%end%>
    </tr>
  </thead>

  <tbody>
  	<%i=1%>
    <% @my_courses.each do |course| %>
      <tr>
      	<td><%=i%></td>
        <td><%= link_to course.title, course %></td>
        <td><%= course.short_description %></td>
        <td><%= course.students.count%></td>
        <%if current_user.owner?(course) %>
          <td><%= link_to 'Edit', edit_course_path(course), class: "btn btn-primary" %></td>
          <td><%= link_to 'Destroy', course, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
      <%i=i+1%>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_course_path %>
