<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1>
        <%= @course.title %>
      </h1>
      <p>
        <%= image_tag @course.avatar_url(:thumb) if @course.avatar? %>
      </p>
      <p>
        <%= @course.short_description %>
      </p>
    </div>
    <div class="col-md-4">
      <% if @tasks.any? %>
       <h3>Все уроки (<%= @tasks.count %>)</h3>
        <ol class="lessons">
          <%@tasks.each do |task|%>
            <li id="task">
              <span class="title"><strong><%= task.title %></strong></span>

              <%if @course.registered?(current_user.id, @course.id)||@course.teacher_id == current_user.id%>
                <span><%=link_to "Открыть", task %></span>
              <%end%>
              
              <%if current_user.owner?(@course)%>
                <span><%= link_to "Удалить",task, method: :delete, data: { confirm: 'Вы уверены?' } %></span>
                <span class="timestamp">
                  Created <%= time_ago_in_words(task.created_at) %> ago.
                </span>
              <%end%>
            </li>
          <%end%> 
        </ol>
      <% end %>
    </div>
    <div class="col-md-4">
      <h3>Студенты (<%=@students.count%>)</h3>
      <ol>
      <%@students.each do |student|%>
        <li><%=student.name%></li>
      <%end%>
      </ol>
    </div>
  </div>
  <div class="actions">
    <%if current_user.admin?%>
      <%= link_to "Регистрация студентов", controller: "courses", action: "add_students", course_id: @course.id%> | 
    <%end%>
    <%= link_to 'Назад', courses_path %>

    <%if current_user.owner?(@course)%>
      <%= link_to "Редактировать", edit_course_path%>
      <%= link_to "Добавить урок", new_lesson_path%>
      <%= link_to "Добавить домащнее задание", new_homework_path%>
    <%end%>
  </div>
</div>