<p id="notice"><%= notice %></p>
<div class="row">
  	<aside class="col-md-4">
    	<section class="course_info">
      		<h1>
        		<%= @course.title %>
      		</h1>
          <p>
            <strong>Short description:</strong>
            <%= @course.short_description %>
          </p>
          <%= link_to 'Edit', edit_course_path(@course) %> |
          <%= link_to 'Back', courses_path %>

    	</section>
  	</aside>
	<div class="col-md-8">
    	<% if @course.lessons.any? %>
	      	<h3>Lessons (<%= @course.lessons.count %>)</h3>
	      <ol class="lessons">
	        <%= render @lessons %>
	      </ol>
	      <%= will_paginate @lessons %>
	    <% end %>
	</div>
</div>
